@import "tailwindcss";
/* .app {
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app.light {
  background-color: #ffffff;
  color: #00000088;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
} */
